Constraints


Alternativ:
bit-string for 12 halvnoter, universell
bit-string for 12 halvnoter, relativ
bit-string for 7 tonale noter, universell
bit-string for 7 tonale noter, relativ

100100010000


24 chords

Ring Hetland? Spør om det er lov å chaine forskjellige IP's


#Variabler
x_i = 1x12(note) vektor
x_ibeat = x_i AND Funksjon AND Beat


Beat = oddetall ON-beat, partall OFF-beat, 1 og 5 strong, 3 og 7 weak

[bit-string 	Funksjon					Beat						Accent]
[xxxxxxxxxxxx	[T, S, D, (Ss, Tm, Ts/Sm)]	[1, 2, 3, 4, 5, 6, 7, 8]	[S, W, O]]

#Process
Timestep x 128 (Matrise S) rå-data (MIDI) 
Modulo 12 på S = Tx12 (Matrise S_fordeling)
For j=1,12 Sum[(x_ji), i=1,T] = 
Finn best fit toneart og 0-indekser S til toneart = S_indexed med riktig rot.
Modulo 12 på S_indexed, finn notefordeling innen én oktav = Timestep x 12(x_i_base12 vektor)
?? Konverter x_i_base12 til x_i (7) (da blir det likt for dur og moll) ??

#Rules

Toneart:	x2+x4+x7+x9+x11